<div class="ilrStudent">
  <div>
    <img src="https://www-league.nhlstatic.com/builds/site-core/505a6f127dcc403fdad1e629840e9058ca0f1e88_1506980076/images/logos/team/current/team-5-light.svg">
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Name:
    </div>
    <div>
      <input type="text" value={{student.studentName}}>
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      ID #:
    </div>
    <div>
      <input type="text" value="">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Create Date:
    </div>
    <div>
      <input type="text" value={{student.time}}>
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Major:
    </div>
    <div>
      <input type="text" value={{student.studentMajor}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      Athletics: 
    </div>
    <div>
      <input type = "text" value={{student.studentAthletics}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      Math Grade: 
    </div>
    <div>
      <input type = "text" value={{student.studentMathGrade}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      Semester:
    </div>
    <div>
      <input type="text" value ={{student.studentSemester}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      Housing Status:
    </div>
    <div>
      <input type="text" value ={{student.studentHousingStatus}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      Year:
    </div>
    <div>
      <input type="text" value={{student.studentYear}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      Honors:
    </div>
    <div>
      <input type="text" value ={{student.studentHonors}}>
    </div>
  </div>
  <div class = "ilrStudentRow">
    <div class = "ilrStudentLabel">
      International Student:
    </div>
    <div>
      <input type="text" value ={{student.internationalStudent}}>
    </div>
  </div>

</div>